.sharuk{
    background-color: green;
}
.vs{
    background-color: blue;
}
.vijay{
    background-color: yellow;
}
.rm{
    background-color: red;
}
.ar{
    background-color: gold;
}
#xyz{
    background-color: aqua;
}
#abc{
    background-color: brown;
}